*
{
	margin:0;
	padding:0;
}
body{
	text-align: center;
}
#mm
{
	width:1024px; 
	margin:0px auto;
	text-align: left;
}

#top
{
	height:90px; 
	background:url("../images/top.jpg") no-repeat;
	display: block;
}

#top ul
{
	margin-left:250px;
	font-size:22px;
	list-style-type: none;
}

#top ul li.top  
{
	width: 80px;
	float: left;
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	
}
#top ul li span
{
	font-family: "Times New Roman";
	font-size: 12px;
	font-weight: normal;
	color: #898989;
}
#top ul li.pic{
	width: 21px;
	float: left;
}

#top .topright{
	border: 1px solid #ddd;
	background-color: #ddd;
	height: 25px;
	line-height: 25px;
	text-indent: 10px;
	width:180px;
	float: right;
	margin-top:30px;
}


#nav
{ 
	height:226px; 
	background:url("1.jpg")
}

#nav
{
	border:1px solid #9cf; 
	height:50px; 
	margin-top:-20;
	margin-bottom:-20;
}

#center
{
	border:1px solid #9cf;
	height:300px;
}

#navl
{
	border:1px solid #49e; 
	width:200px; 
	height:226px; 
	float:left;
}

#cen
{
	height:980px;
}

#cenleft
{
	width:210px; 
	float:left;
}

#cenleft1
{
	height:300px; 
	background-color:#08385B;
}

#cenleft1 dl{color:#fff; width:190px;padding:10px;height: 80px; }
#cenleft1 dl dt{float:right; width:100px; height:25px; margin-top:8px;font-size:18px;color:#fff;}
#cenleft1 dl dd.pic{ float:left;}
#cenleft1 dl dd.text{ float:right; width:100px; font-size:14px; color:#09F;}
#cenleft2 {height:135px; background:url(../images/logintop.gif)  0 0 no-repeat; border:1px solid #ccc;}
#cenleft2 ul{ margin-top:25px; color:#999;}
#cenleft2 ul li{list-style-type:none;}
#cenleft3 {}

#cenleft3 dl{width:190px; padding-top:15px;height: 70px;}
#cenleft3 dl dt{float:right; width:95px; font-size:14px;}
#cenleft3 dl dd.pic{ float:left;height:35px; margin-left:20px; border:none;}
#cenleft3 dl dd.text{float:right; width:95px; font-size:14px; }

#cenleft3 ul{margin-top:30px;}
#cenleft3 ul li{list-style-type:none;text-indent:30px;}
#cenleft3 ul li .cc{margin-bottom:30px;}
#cenleft3 .bb{border-top:1px solid #ddd;width:200px;}

#cencen{width:600px; float:left;}
#cencen1{height:360px; padding-top:2px; padding-left:2px;}
#cencen2{height:120px; }
#cenright{width:200px;float:right;}
#cenright .nav{background:url("../images/LINK_02.jpeg") -6px 0px;height:32px;}
#cenright ul{border:1px solid #ccc;width:191px;margin:auto 3px;text-align:center;padding-top:20px;padding-bottom:19px;background-color:#ddd;}
#cenright ul li{list-style-type:none;}
#cenright .box{border:1px solid #9cf;height:600px;}

#foot{border-top:2px solid #eee;height:35px; text-align:center; font-size:16px; line-height:20px;width:1022px;}

#cenright1{float:right;width:810px;}

#cenright1 .nav{
	display:inline; 
	float:left;
	width:100%;
	background:url("../images/12.gif") repeat-x;
	height: 35px;
	margin-top:1px;
	color:#aaa;

}

#cenright1 .nav h1{height:40px;line-height:40px;text-indent:10px; width:810px;float:left;font-size:18px;}
#cenright1 .nav h1 span{float:right; display:inline;}

#cenright1 .ysj dl{width:700px;height:210px;margin-left:45px;}
#cenright1 .ysj dl dt{float:right; width:470px; height:35px;font-size:22px;margin-top:10px;}
#cenright1 .ysj dl dd.pic{float:left;height:35px;margin:10px;}
#cenright1 .ysj dl dd.text{float:right; width:470px; font-size:14px;}

#kclist img{float:right;margin:10px;}
#kclist .title{float:left;width:580px;height:180px;padding-top:70px;padding-left:50px;}
#kclist .title p{font-size:18px;}
#kclist .text{float:left;border:0px solid #9cf;}

#kc dl{width:700px;height:210px;margin-left:45px;}
#kc dl dt {float:right; width:470px; height:35px;font-size:22px;margin-top:10px;}
#kc dl dt a{font-color:#dc143c;}
#kc dl dd.pic{float:left;height:35px;margin:10px;}
#kc dl dd.text{float:right; width:470px; font-size:14px;}
#kc dl dd.text a{color:#333;font-size: 16px;}

#ysj .title{float:right;width:500px;height:200px;padding-top:150px;}
#ysj .text{}

#cenright1 .dow ul{list-style-type:none;}
#cenright1 .dow ul li{margin-top:20px;}
#cenright1 .dow ul li img{float:left;}

#cenright1 .vedio ul{list-style-type:none;}
#cenright1 .vedio ul li{float:left; margin: 10px; text-align: center;color: #333;}


#cenright1 ul li h1{height:35px;line-height:35px;text-indent:10px; width:810px;float:left;font-size:18px;}
#cenright1 ul li h1 span{float:right; display:inline;}
#cenright1 ul li h1 span a {color:#09f;}

#box{width:350px; height:180px;}
#tab_nav{margin:0; padding:0; height:25px; line-height:24px;}
#tab_nav li{float:left; margin:0 3px; list-style:none; border-bottom:none; height:24px; width:60px; text-align:center; background:#FFF;}

#tab_content{width:350px; height:150px; border:1px solid #9cf; background:#FFF; overflow:hidden;}
#t_1,#t_2,#t_3{width:100%; height:273px;}

#leftNav{width:200px;margin-top:10px;background:url("../images/12.gif") repeat-x}
#leftNav .top{border-bottom:1px solid #ccc;background:url("../images/sub03_12.png") no-repeat;text-indent:100px;line-height:65px;height:65px;}
#leftNav ul{margin:0;padding:0;}
#leftNav ul li{border-bottom:1px solid #ccc;text-align:center;height:35px;line-height:35px;list-style-image:url("detailtop2.gif");list-style-type:none;}
#leftNav ul li a:hover{background-color:#ccc;}
a:link
{
	text-decoration: none;
	color: #929292;
	
}
a:active { text-decoration:blink}

a:hover {
	text-decoration:none;
	color: #2d83b2;
} 
a:visited {
	text-decoration: none;
	color: #929292
}