<div id="cenleft3">
	<ul>
			<li><img src="images/tool1.gif"><img src="images/tool2.gif"></li>
			<li style="margin-bottom:30px;font-size:14px;">发表感想!    发表疑问?</li>
			<div class="bb"></div>
					<dl>
							<dt>党员之家</dt>
								<dd class="pic"><img src="images/model2.png"></dd>
								<dd class="text">党支部活动</dd>
					</dl>
			<div class="bb"></div>
					<dl>
							<dt>人才招聘</dt>
								<dd class="pic"><img src="images/model3.png"></dd>
								<dd class="text">顶尖人才信息</dd>
					</dl>
			<div class="bb"></div>
					<dl>
							<dt>课程时间表</dt>
								<dd class="pic"><img src="images/model4.png"></dd>
								<dd class="text">精彩课程分享</dd>
								<dd class="text">课程图片分享</dd>
					</dl><div class="bb"></div>
	</ul>
</div>