<div id="cenleft2">
	<ul>
	<li>用户名<input type="text" name="textfield" width=150 id="textfield" style="border:1px solid #ddd"></li>
	<li>密&ensp;&ensp;码<input type="text" name="textfield2" id="textfield2" style="border:1px solid #ddd"></li>
	<li>
			<form name="form1" method="post" action="" style="text-align:center; margin-top:15px;">
				  <input type="image" name="submit" src="images/reg.gif" >
				  <input type="image" name="submit" src="images/login.gif" >
                   <p>忘记密码 申请注册</p>
			</form>
	</li>
	</ul>
</div>